{% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Score bordS</title>
  <link rel="stylesheet" href="{% static 'myfirst.css' %}" />
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    `
  </head>

  <body>
    <!-- total team -->
    <div class="container-fluid">
      <h1 class="text-center mt-4 mb-5">TOTAL TEAM SCORE</h1>
      <div class="row">
        <!-- Column 1 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">INDIA</h5>
              <img
                src="{% static 'img/indian.png' %}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">500</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ENGLAND</h5>
              <img
                src="{% static 'img/England.png' %}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">460</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">AUSTRALIA</h5>
              <img
                src="{% static 'img/Australia.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">480</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column4 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">BANGALADESH</h5>
              <img
                src="{% static 'img/bangaladesh.png' %}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">321</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- next row2 of total score -->
    <div class="container-fluid mt-5">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">AFGHANISTAN</h5>
              <img
                src="{% static 'img/afghanistan.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">430</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">WEST INDIES</h5>
              <img
                src="{% static 'img/west indies.png'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">200</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">IRELAND</h5>
              <img
                src="{% static 'img/ireland.jpeg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">450</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column4 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">SRI LANKA</h5>
              <img
                src="{% static 'img/srilanka.png'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">220</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- next row3 of total score -->
    <div class="container-fluid mt-5">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">NEW ZEALAND</h5>
              <img
                src="{% static 'img/new zealand.jpeg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">320</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">PAKISTAN</h5>
              <img
                src="{% static 'img/pakistan.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">300</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">SOUTH AFRICA</h5>
              <img
                src="{% static 'img/south africa.jpeg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">240</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column3 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ZIMBABWE</h5>
              <img
                src="{% static 'img/zimbabwe.jpeg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="score">430</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- qualifiers round -->
    <!-- qualifiers team A -->
    <div class="container-fluid">
      <h1 class="text-center mt-4">QUALIFIERS TEAM A</h1>
      <div class="row mt-5">
        <!-- Column 1 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">INDIA</h5>
              <img
                src="{% static 'img/indian.png'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">550</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ENGLAND</h5>
              <img
                src="{% static 'img/England.png'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">490</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">AUSTRALIA</h5>
              <img
                src="{% static 'img/Australia.jpg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">500</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column4 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">BANGALADESH</h5>
              <img
                src="{% static 'img/bangaladesh.png'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">340</span>
              </div>
            </div>
          </div>
        </div>
        <!-- columns5 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">AFGHANISTAN</h5>
              <img
                src="{% static 'img/afghanistan.jpg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">450</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 6 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">WEST INDIES</h5>
              <img
                src="{% static 'img/west indies.png'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">350</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- qualifiers round -->
    <!-- qualifiers team b-->
    <div class="container-fluid mt-5">
      <h1 class="text-center mt-4 mb-4">QUALIFIERS TEAM B</h1>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">IRELAND</h5>
              <img
                src="{% static 'img/ireland.jpeg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">300</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column2-->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">SRI LANKA</h5>
              <img
                src="{% static 'img/srilanka.png'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">342</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">NEW ZEALAND</h5>
              <img
                src="{% static 'img/new zealand.jpeg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">400</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">PAKISTAN</h5>
              <img
                src="{% static 'img/pakistan.jpg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">495</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">SOUTH AFRICA</h5>
              <img
                src="{% static 'img/south africa.jpeg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">400</span>
              </div>
            </div>
          </div>
        </div>
        <!-- column3 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">ZIMBABWE</h5>
              <img
                src="{% static 'img/zimbabwe.jpeg'%}"
                alt=""
                width="180px"
                height="180px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoreq">240</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- semi final match -->
    <div class="container-fluid">
      <h1 class="text-center mt-4">SEMI FINAL MATCH</h1>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">INDIA</h5>
              <img
                src="{% static 'img/indian.png'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scores">500</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">ENGLAND</h5>
              <img
                src="{% static 'img/England.png'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scores">430</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">PAKISTAN</h5>
              <img
                src="{% static 'img/pakistan.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scores">530</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title text-center">AUSTRALIA</h5>
              <img
                src="{% static 'img/Australia.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scores">330</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <h1 class="text-center mt-4">FINAL MATCH</h1>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">INDIA</h5>
              <img
                src="{% static 'img/indian.png'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoref">550</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">PAKISTAN</h5>
              <img
                src="{% static 'img/pakistan.jpg'%}"
                alt=""
                width="300px"
                height="200px"
              />
              <div class="card-footer">
                <span>SCORE: </span><span class="scoref">430</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- WINNER MATCH -->
    <div class="container-fluid">
      <h1 class="text-center mt-4">WINNER</h1>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title text-center">INDIA</h5>
              <img
                src="{% static 'img/winner.jpeg'%}"
                alt=""
                width="300px"
                height="200px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
